@model List<TinyMasters.ViewModel.HomeViewModel>

@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@Model[i].PictureUrl" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h3 class="fw-bolder">@Model[i].Name</h3>
                                    <h6 class="fw-bolder">@Model[i].Decsription</h6>

                                    @Model[i].Price
                                </div>
                            </div>
                            <div class="row mb-3 justify-content-center">
                                <div class="col-auto">
                                    <form asp-controller="Home" asp-action="Index" method="post">
                                        <input type="hidden" class="form-control" name="UrunId" value="@Model[i].ProductId" />
                                        <input type="submit" value="Satın Al" class="btn btn-primary" />
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <form asp-controller="Reservation" asp-action="Index" method="Get">
                                        <input type="hidden" class="form-control" name="ProductId" value="@Model[i].ProductId" />
                                        <input type="submit" value="Urun Ayır" class="btn btn-danger" />
                                    </form>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                }


            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>
</html>