@model TinyMasters.ViewModel.ReservationViewModel
@{
    ViewBag.Title = "Reservation";
}

<h1>Ürün Ayırma</h1>


    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Tarih</label>
            <input type="datetime-local" class="form-control" id="" placeholder="@Model.Date">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Şube</label>
            <select class="form-control" id="Sube">
                @for (int i = 0; i < Model.SubeAdi.Count; i++)
            {
                <option>@Model.SubeAdi[i]</option>
            }
            </select>
        </div>
       
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Kişi Sayisi</label>
            <input class="form-control" type="text" placeholder="@Model.KisiSayisi" readonly>
            @* <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> *@
        </div>

</form>
<form asp-controller="Reservation" asp-action="Index" method="post">
    <input type="hidden" class="form-control" name="Date" value="@Model.Date" />
    <input type="hidden" class="form-control" name="kisisayisi" value="@Model.KisiSayisi" />
    <input type="hidden" class="form-control" name="SubeAdi" value="@Model.SubeAdi" />
    <input type="submit" value="Ürün Ayır" class="btn btn-primary" />
</form>

@*
@if (ViewBag.Basarili)
{
    <div class="alert alert-success">Ürün ayırma işleminiz başarıyla tamamlanmıştır.</div>
} *@