@model List<TinyMasters.ViewModel.CardViewModel>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body>
    <section class="py-5">
        <form method="post" asp-controller="Order" asp-action="Order">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">



                    @foreach (var item in Model)
                    {
                        <div class="card h-100">
                            <input type="hidden" class="form-control" name="ProductId" value="@item.Id" />
                            <input type="hidden" class="form-control" name="Unit" value="1" />
                            <img class="card-img-top" src="@item.ImageUrl" />

                            <div class="card-body p-4">
                                <div class="text-center">
                                    <p class="fw-bolder">@item.Name</p>
                                    @item.Price 
                                </div>
                            </div>
                        </div>

                    }
                    @* <form asp-controller="Order" asp-action="Order" method="post" id="buton">
                        <input type="hidden" class="form-control" name="ProductId" value="@Model.Select(p=>p.Id)" />
                        <input type="hidden" class="form-control" name="Unit" value="@Model.Unit" />
                        
                    </form> *@
                        <input type="submit" value="Satın Al" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </form>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

</body>
</html>
